* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.conteneur {
    width: 900px;
    background-color: white;
    box-shadow: 10px 10px 10px #AAA;
}

/* ENTÊTE */
.entête {
    background-color: #0BB;
    color: #2d2d2d;
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 40px;
    line-height: 1;
}

.profile-img img {
    width: 200px;
    height: 250px;
    border-radius: 7%;
    object-fit: cover;
}

.entête-text h3 {
    color: black;
}

.entête-text h1 {
    font-size: 36px;
    font-family: 'poppins', sans-serif;
    color: black;
}

.entête-text p {
    max-width: 550px;
    color: black;
    line-height: normal;
}

/* CONTENANT */
.contenant {
    display: flex;
}

/* GAUCHE */
.gauche {
    width: 35%;
    background-color: #088;
    padding: 30px;
    color: white;
}

.h2 {
    margin-bottom: 15px;
    letter-spacing: 3px;
    font-size: 16px;
}

.gauche section {
    margin-bottom: 30px;
}

.gauche ul {
    padding-left: 20px;
}

.gauche li {
    margin-bottom: 8px;
}

/* DOITE */
.droite {
    width: 65%;
    padding: 30px;
}

.droite h2 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #088;
    border-bottom: 3px solid #088;
    padding-bottom: 5px;
}

.job, .education {
    margin-bottom: 25px;
}

.date {
    font-style: italic;
    font-size: 14px;
    color: #777;
}

.taf{
    border-left: 2px solid black;
    padding-left: 30px;
}

.étude{
    border-left: 2px solid black;
    padding-left: 30px;
}
    

